rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow users to upload and access their own profile pictures
    match /profile-pictures/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Allow users to upload and access chat files
    match /chat-files/{chatId}/{fileName} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to upload and access chat images
    match /chat-images/{chatId}/{imageId} {
      allow read, write: if request.auth != null;
    }
    
    // Allow users to upload and access general images
    match /images/{imageId} {
      allow read, write: if request.auth != null;
    }
  }
} 